    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="./images/abhishek shukla.jpg" class="img-fluid rounded b-shadow-a" alt="Abhishek Shukla">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Abhishek Shukla</span></p>
                      <p><span class="title-s">Profile: </span> <span>Full stack Rails developer</span></p>
                      <p><span class="title-s">Email: </span> <span>abhishekpshukla@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>+ 91 8975 750 418</span></p>
                      <p><span class="title-s"><a href='/Abhishek Pradeep Shukla.pdf' target="_blank" style='color: #0078ff'>Download Resume</a></span></a>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>Ruby</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Ruby On Rails</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JavaScript</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>MySQL</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>HTML5 & CSS3</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>Node.js</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>DevOps Tools (Dockers, GIT, Jenkins, AWS, Azure)</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Extensive experience in the IT industry, with 14+ years of IT experience in design, development and support of various web applications. 
                  </p>
                  <p class="lead">
                    Very good exposure on REST Protocols. Expertise in Developing software applications using Ruby and Ruby on Rails, JavaScript, AngularJS, HTML, MySQL, ORACLE9i/10g, PLSQL, Linux/Unix, Capistrano, GIT, jQuery, rSpec, Cucumber, Jenkins.
                  </p>
                  <p class="lead">
                    Design, implement and maintain AWS infrastructure and services like EC2, Lambda, API Gateway, SNS, SES, ElasticCache, Security Groups, Roles and Policies  within a managed service environment.
                  </p>
                  <p class="lead">
                    Agile Methodologies and RESTful Web development. As an individual, I'm self-confident you’ll find me creative, funny and naturally passionate. I’m a forward thinker, which others may find inspiring when working as a team.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>