<meta charset="utf-8">
  <title>Full Stack Ruby on Rails Developer | Abhishek Shukla</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Ruby on Rails, ROR Developer, Remote Job, Full Stack developer, ReactJS, Fullstack ROR developer" name="keywords">
  <meta content="Extensive experience in the IT industry, with 14+ years of IT experience in design, development and support of various web applications." name="description">

  <!-- Favicons -->
  <link href="./images/favicon.png" rel="icon">
  <link href="./images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="./lib/animate/animate.min.css" rel="stylesheet">
  <link href="./lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="./lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="./lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="./stylesheets/style.css" rel="stylesheet">
  <link rel="canonical" href="http://abhishekpshukla.me/" />

  <!-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->