<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center">
        <h3 class="title-a">
          Services
        </h3>
        <p class="subtitle-a">
          <!--Lorem ipsum, dolor sit amet consectetur adipisicing elit.-->
        </p>
        <div class="line-mf"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="service-box">
        <div class="service-ico">
          <span class="ico-circle"><i class="ion-code-working"></i></span>
        </div>
        <div class="service-content">
          <h2 class="s-title">Web Development</h2>
          <p class="s-description text-center">
            Expertise in developing Web Applications using Ruby, Ruby on Rails, Nodejs, JavaScript, Angular 2+, HTML, MySQL, PLSQL, jQuery, rSpec, Cucumber, Jenkins.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-box">
        <div class="service-ico">
          <span class="ico-circle"><i class="ion-ios-cloudy"></i></span>
        </div>
        <div class="service-content">
          <h2 class="s-title">Cloud Platform</h2>
          <p class="s-description text-center">
            Design, implement and maintain AWS infrastructure and services like EC2, Lambda, API Gateway, SNS, SES within a managed service environment.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-box">
        <div class="service-ico">
          <span class="ico-circle"><i class="ion-monitor"></i></span>
        </div>
        <div class="service-content">
          <h2 class="s-title">DevOps</h2>
          <p class="s-description text-center">
            Built and deployed Docker containers to break up monolithic app into microservices, improving developer workflow, increasing scalability, and optimizing speed
          </p>
        </div>
      </div>
    </div>
    
  </div>
</div>