<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body id="page-top">
<% include partials/menu %>
<% include partials/intro %>


<section id="about" class="about-mf sect-pt4 route">
  <% include partials/about %>
</section>

<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
  <% include partials/services %>
</section>
<!--/ Section Services End /-->

<% include partials/counter %>

<%# include partials/testimonials %>

<% include partials/contact %>

</body>
<% include partials/script %>
</html>